<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Cookies Rocks!</title>
    <style>
        body {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            font-size: 20px;
            line-height: 1.6;
            margin: auto auto 75px auto;
            max-width: 40em;
            padding: 1em;
        }

        footer {
            font-style: italic;
            margin-top: 10em;
        }

        .host-banner {
            background-color: #777;
            bottom: 0;
            height: 50px;
            left: 0;
            position: fixed;
            width: 100%;
        }

        .host-banner[data-host="blue"] {
            background-color: blue;
        }

        .host-banner[data-host="green"] {
            background-color: green;
        }
    </style>
</head>
<body>
<h1>Cookies Rocks!</h1>
<div class="select">
    <span class="root"><a href="//cookies.rocks">cookies.rocks</a></span> -
    <span class="blue"><a href="//blue.cookies.rocks">blue.cookies.rocks</a></span> -
    <span class="green"><a href="//green.cookies.rocks">green.cookies.rocks</a></span>
</div>
<ul>
    <li><a href="/simple-session.html">Simple session cookie example</a></li>
    <li><a href="/simple-persistent.html">Simple persistent cookie example</a></li>
    <li><a href="/show-cookies.html">Show cookies</a></li>
    <li><a href="/delete-simple-cookies.html">Delete simple cookies</a></li>
    <li><a href="/domain-attribute.html">Cookies with Domain attribute</a></li>
    <li><a href="/path-attribute.html">Cookies with Path attribute</a></li>
    <li><a href="/secure-attribute.html">Cookies with Secure attribute</a></li>
    <li><a href="/httponly-attribute.html">Cookies with HttpOnly attribute</a></li>
    <li><a href="/tracking-image.html">Tracking image example</a></li>
    <li><a href="/tracking-image-etag.html">Tracking image example (with etag)</a></li>
    <li><a href="/profile.html">Profile</a></li>
</ul>
<footer>
    A project by <a href="https://twitter.com/hsablonniere" target="_blank">@hsablonniere</a>.
    Sources on <a href="https://github.com/hsablonniere/cookies.rocks" target="_blank">Github</a>.
</footer>
<div class="host-banner" data-host="<%= host %>"></div>
</body>
</html>
