<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show cookies</title>
    <style>
        body {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            font-size: 20px;
            line-height: 1.6;
            margin: auto auto 75px auto;
            max-width: 40em;
            padding: 0 0 0 2em;
        }

        pre {
            background-color: #eee;
            border: 1px solid #ccc;
            padding: 1em;
            border-radius: 5px;
            white-space: pre-wrap;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 0.2em 0.5em;
        }

        td {
            font-family: monospace;
        }

        .path-nav {
            margin-top: 1em;
        }

        footer {
            font-style: italic;
            margin-top: 10em;
        }

        .host-banner {
            background-color: #777;
            bottom: 0;
            left: 0;
            position: fixed;
            top: 0;
            width: 2em;
        }

        .host-banner[data-host="blue"] {
            background-color: blue;
        }

        .host-banner[data-host="green"] {
            background-color: green;
        }
    </style>
</head>
<body>
<h1><a href="/">Cookies Rocks!</a></h1>
<h2>Show received cookies</h2>
<% if (cookieHeader != null) { %>
<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>VALUE</th>
    </tr>
    </thead>
    <tbody>
    <% cookies.forEach(([name, value]) => { %>
    <tr>
        <td><%= name %></td>
        <td><%= value %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<p>Here is the cookie header the server received when loading this page:</p>
<pre>Cookie: <%= cookieHeader %></pre>
<% } else { %>
<p>The server did not receive any cookie header.</p>
<% } %>
<div class="path-nav">
    Change path:
    <a href="/show-cookies.html">/</a> -
    <a href="/foo/show-cookies.html">/foo</a> -
    <a href="/bar/show-cookies.html">/bar</a> -
    <a href="/foo/bar/show-cookies.html">/foo/bar</a>
    <a href="/foobar/show-cookies.html">/foobar</a>
</div>
<footer>
    A project by <a href="https://twitter.com/hsablonniere" target="_blank">@hsablonniere</a>.
    Hosted on <a href="http://www.clever-cloud.com/">Clever Cloud</a>.
    Sources on <a href="https://github.com/hsablonniere/cookies.rocks" target="_blank">Github</a>.
</footer>
<div class="host-banner" data-host="<%= host %>"></div>
</body>
</html>
