<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracking image example (with etag)</title>
    <style>
        body {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            font-size: 20px;
            line-height: 1.6;
            margin: auto auto 75px auto;
            max-width: 40em;
            padding: 0 0 0 2em;
        }

        pre {
            background-color: #eee;
            border: 1px solid #ccc;
            padding: 1em;
            border-radius: 5px;
            white-space: pre-wrap;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 0.2em 0.5em;
        }

        td {
            font-family: monospace;
        }

        footer {
            font-style: italic;
            margin-top: 10em;
        }

        .host-banner {
            background-color: #777;
            bottom: 0;
            left: 0;
            position: fixed;
            top: 0;
            width: 2em;
        }

        .host-banner[data-host="blue"] {
            background-color: blue;
        }

        .host-banner[data-host="green"] {
            background-color: green;
        }
    </style>
</head>
<body>
<h1><a href="/">Cookies Rocks!</a></h1>
<h2>Tracking image example (with etag)</h2>
<p>
    This image was sent from the server to your browser with a ETag header containing a UUID (instead of a traditional checksum).
    If the request to the image contained a UUID in a "if-none-match" header, it's reused as is.
    If not, a new random one is generated.
</p>
<img src="/cookie-etag.svg" alt="cookie" width="120px">
<p>
    By putting this image's URL on several pages of different websites,
    it is possible to log each visited pages for a given visitor.
</p>
<pre>&lt;img src=&quot;//cookies.rocks/cookie-etag.svg&quot;&gt;</pre>
<p>
    Here is a list of the pages you visited that use this tracking image:
</p>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Page URL</th>
    </tr>
    </thead>
    <tbody>
    <% sites.forEach(({ date, referer }) => { %>
    <tr>
        <td><%= date %></td>
        <td><%= referer || 'Unknown' %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<footer>
    A project by <a href="https://twitter.com/hsablonniere" target="_blank">@hsablonniere</a>.
    Hosted on <a href="http://www.clever-cloud.com/">Clever Cloud</a>.
    Sources on <a href="https://github.com/hsablonniere/cookies.rocks" target="_blank">Github</a>.
</footer>
<div class="host-banner" data-host="<%= host %>"></div>
</body>
</html>
